.heading{
    display: flex;
    justify-content:right;
    gap:15px;
    font-size: 8px;
}
.btn {
    border-radius: 20px;
    background-color:rgb(18, 18, 117); 
    width:80px;
    height: 40px;
    color: white;
}
.paragraph{
    display: flex;
    justify-content:left;
    gap:15px;
    font-size: 14px;
}
.para{
    color: rgb(3, 3, 55);
    font-family:bold ;
    font-size: 16px;
    font-weight: 50px;
}
.head{
    color: rgb(4, 4, 75);
}

.container{
    /* display: flex; */
    /* justify-content:center; */
    background-color: rgb(37, 37, 192);
    height: 300px;
    width: 500px;
    
    margin-top:30px;
    border-radius: 30px;
    
}
.list1{
    display: flex;
    justify-content:center;  
    gap:15px;
    font-size: 8px;
    padding:20px;
    
}
.heading1{
    
    margin:50px;
    padding: 120px;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 25px;
}
.heading2{
    display: flex;
    justify-content: right;
    font-size: 15px;
}
.con{
    border-style: solid;
    border-radius:3px;
    border-color: rgb(154, 154, 210);
    height: 30px;
}
